{% extends 'default/profile-base.html.twig' %}

{% block content %}





    <div class="carousel col-md-6 col-md-offset-3; ">



        {% for user in users %}


            <div style="margin-top:10px">

                <a href="/profile/view/{{ user.id }}">

                <div>

                    <div style="">
                        {% if user.thumbnail %}
                            <img src="{{ user.thumbnail }}" style="max-height: 150px; border-radius: 50%"/>
                            {% else %}
                                <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" style="max-height: 150px; border-radius: 50%"/>
                        {% endif %}
                    </div>


                    <div style="margin-top: 5px;">
                        {{ user.firstname }} {{ user.lastname }}
                    </div>

                    <div>
                        {{ user.description }}
                    </div>
                </div>

            </a>

            </div>
        {% endfor %}



    </div>



{% endblock %}


