{% extends 'default/profile-base.html.twig' %}

{% block content %}
    <h2>{{ user.firstname }} {{ user.lastname }}</h2>
    <div class="bs-component" style="padding: 20px">
        <img src="{{ asset('uploads/thumbnail/' ~ user.thumbnail) }}" style="max-width: 80%;"/>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-md-12" style="text-align:center">
                <button type="submit" class="btn btn-raised btn-primary">Mise à jour</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
