{% extends 'default/profile-base.html.twig' %}

{% block content %}
    <div class="wrapper">

        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>

                    {% for user in users %}


                        <li style="border: solid 1px #000" class="thumbnail ">
                            <div>
                                <div style="">
                                    <!--
                                    <img src="{{ user.thumbnail }}" style="max-height: 250px"/>
                                    //-->
                                    {% set isAbsolu = user.thumbnail|slice(0, 5) %}
                                    {% if isAbsolu != 'https' %}
                                    <img src="{{ asset('uploads/thumbnail/' ~ user.thumbnail) }}" style="width: 200px; border-radius:50%"/>
                                    {% else %}
                                    <img src="{{ user.thumbnail }}" style="width: 200px; border-radius:50%"/>
                                    {% endif %}
                                </div>

                                <div>
                                    {{ user.firstname }} {{ user.lastname }}
                                </div>
                            </div>
                        </li>


                    {% endfor %}




                </ul>
            </div>


            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>

            <p class="jcarousel-pagination">

            </p>
        </div>
    </div>



{% endblock %}


